snippet leet 
				#include <iostream>
				#include <vector>
				#include <string>
				using std::vector;
				using std::string;
				class Solution {
					public:
						${0}
				};

				int main() {
					Solution sln;
					std::cout << sln.${1} << std::endl;
				}
